<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<h1>Update User</h1>

<form th:method="POST" th:action="@{/admin/update_user}" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" id="name" th:field="*{name}" required></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></td>
        </tr>
        <tr>
            <td><label for="age">Age</label></td>
            <td><input type="number" id="age" th:field="*{age}"></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red"></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" id="email" th:field="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></td>
        </tr>
        <tr>
            <td><label for="role">Roles</label></td>
            <td>
                <label th:each="role : ${roles}">
                    <input type="checkbox" id="role"
                           th:value="${role.roleName}"
                           name="rolesView"
                           th:checked="${userRoles != null and userRoles.contains(role)}"
                           th:id="'role_' + ${role.id}"/>
                    <a th:text="${role.getRoleName()}"></a>
                </label>
            </td>
        </tr>

        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" id="password" th:field="*{password}" required></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Ok"></td>
        </tr>
    </table>
    <br>
</form>

<br><br><br>
<button onclick="window.location.href='/logout'">Log Out</button>

</body>
</html>
